<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Screening</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
    <h1>Upload Your Resume for Screening</h1>
    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="job_role">Select Job Role:</label>
        <select name="job_role" id="job_role" required>
            <option value="Software Developer">Software Developer</option>
            <option value="Data Scientist">Data Scientist</option>
            <option value="System Administrator">System Administrator</option>
            <option value="DevOps Engineer">DevOps Engineer</option>
            <option value="Data Analyst">Data Analyst</option>
            <option value="Business Analyst">Business Analyst</option>
        </select><br><br>

        

        <label for="resume">Upload Your Resume:</label>
        <input type="file" id="resume" name="resume" accept=".txt,.pdf,.docx" required><br><br>

        <button type="submit">Upload Resume</button>
    </form>

</body>
</html>
